.AdminDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  .admin-greeting {
    color: #fff;
    font-size: 30pt;
    margin-bottom: 75px;
  }
  .main-dashboard {
    display: flex;
    justify-content: space-between;
    width: 75%;
    .dashboard-section {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: 10px;
      h2 {
        color: #999;
        font-size: 24pt;
        text-align: center;
      }
      .admin-btn {
        background: #1CB841;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
        color: #000;
        font-size: 20pt;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        margin: 10px;
        transition: 0.3s;
        &:hover {
          color: white;
          background: #009639;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}