.CustomLogin {
  display: grid;
  width: 600px;
  margin: 0px auto;
  grid-template-columns: 80px repeat(4, 1fr);
  grid-gap: 10px;
  background: #ffffffe3;
  padding: 0px 30px 20px 15px;
  border-radius: 2px; }
  .CustomLogin h1 {
    grid-column: span 5;
    text-align: center; }
  .CustomLogin label {
    display: flex;
    align-items: center; }
  .CustomLogin input {
    height: 50px;
    font-size: 24px;
    padding-left: 10px;
    outline: none;
    grid-column: span 4; }
  .CustomLogin span {
    min-height: 20px;
    min-width: 100%;
    color: red;
    font-size: 18px;
    grid-column: span 5;
    text-align: center; }
  .CustomLogin button {
    grid-column: span 2;
    height: 70px;
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: none;
    background: #1CB841;
    color: white;
    cursor: pointer;
    margin: 0px auto;
    transition: 0.3s;
    font-size: 20px;
    padding: 10px; }
    .CustomLogin button:nth-of-type(2) {
      grid-column: 4 / span 2;
      justify-self: end; }
    .CustomLogin button:hover {
      color: white;
      background-color: #323232; }
    .CustomLogin button:disabled {
      background: #989696;
      color: black; }
  .CustomLogin .confirmWrapper {
    position: relative;
    grid-column: span 4; }
    .CustomLogin .confirmWrapper input {
      width: 100%; }
    .CustomLogin .confirmWrapper span {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      color: black;
      right: 0px;
      top: 0px;
      height: 100%;
      min-width: 50px; }
  .CustomLogin a {
    grid-column: 5 / -1;
    text-align: right;
    font-size: 14px; }
