.UserProfile {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .UserProfile .user-achievements,
  .UserProfile .user-preferences,
  .UserProfile .user-profile-edit {
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 25px;
    width: 75%; }
    .UserProfile .user-achievements h2,
    .UserProfile .user-preferences h2,
    .UserProfile .user-profile-edit h2 {
      margin: 20px; }
    .UserProfile .user-achievements .user-preferences-form,
    .UserProfile .user-achievements .user-profile-form,
    .UserProfile .user-preferences .user-preferences-form,
    .UserProfile .user-preferences .user-profile-form,
    .UserProfile .user-profile-edit .user-preferences-form,
    .UserProfile .user-profile-edit .user-profile-form {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      width: 200px; }
      .UserProfile .user-achievements .user-preferences-form label,
      .UserProfile .user-achievements .user-profile-form label,
      .UserProfile .user-preferences .user-preferences-form label,
      .UserProfile .user-preferences .user-profile-form label,
      .UserProfile .user-profile-edit .user-preferences-form label,
      .UserProfile .user-profile-edit .user-profile-form label {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 5px 0; }
      .UserProfile .user-achievements .user-preferences-form button,
      .UserProfile .user-achievements .user-profile-form button,
      .UserProfile .user-preferences .user-preferences-form button,
      .UserProfile .user-preferences .user-profile-form button,
      .UserProfile .user-profile-edit .user-preferences-form button,
      .UserProfile .user-profile-edit .user-profile-form button {
        background-color: #6CC24A;
        border: none;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        margin: 20px 0;
        padding: 10px; }
    .UserProfile .user-achievements .user-profile-form,
    .UserProfile .user-preferences .user-profile-form,
    .UserProfile .user-profile-edit .user-profile-form {
      width: 300px; }
      .UserProfile .user-achievements .user-profile-form .text-input,
      .UserProfile .user-preferences .user-profile-form .text-input,
      .UserProfile .user-profile-edit .user-profile-form .text-input {
        padding: 5px; }
