.UserProfile {
  align-items: center;
  display: flex;
  flex-direction: column;

  .user-achievements,
  .user-preferences {
    align-items: center;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 25px;
    width: 75%;

    h2 {
      margin: 20px;
    }

    .user-preferences-form {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      width: 200px;

      label {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      button {
        background-color: #6CC24A;
        border: none;
        color: white;
        margin: 20px 0;
        padding: 10px;
      }
    }
  }
}