@import '../../assets/fontello-45ad5e7a/css/fan.css';

/*#14212F*/
/*#00aced*/
/*#3B5998*/
/*#3cba54*/
/*#db3236*/
a {
  text-decoration: none;
}

.ActionCard {
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 600px;

  h3 {
    font-size: 32px;
    font-weight: normal;
  }

  .action-description {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
  }

  .body-text {
    font-size: 18px;
    height: 150px;
    padding: 10px;
    width: 80%;
  }

  .button-holder {
    align-self: center;
    display: flex;
    margin-top: 20px;
  
    button {
      border: none;
      border-radius: 2px;
      color: white;
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      margin: 0 5px;
      padding: 20px;

      &:hover {
        cursor: pointer;
      }

      i {
        color: inherit;
        padding-left: 10px;

        &:before {
          margin: 0;
        }
      }
    }
  }
}

.twitter-card {
  .button-holder button {
    background-color: #00aced;
  }
}

.facebook-card {
  .button-holder button {
    background-color: #284E92;
  }
}

.email-card {
  .button-holder button,
  button {
    background-color: #db3236;
    border: none;
    border-radius: 2px;
    color: white;
  }

  .email-template {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .body-text {
    width: 100%;
  }

  button {
    margin-bottom: 10px;
    padding: 10px 5px;
  }
}

.phone-card {
  .button-holder button {
    background-color: #3cba54;
  }

  .phone-number {
    font-size: 22px;
  }

  .feedback-textarea {
    margin-top: 10px;
  }
}

@media screen and (max-width: 850px) {
  .ActionCard {
    width: auto;
  }
}
