.ActionCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  width: 500px; }

.twitter-card {
  background-color: #00aced; }

.facebook-card {
  background-color: #3B5998; }

.phone-card {
  background-color: #c71610; }

.email-card {
  background-color: #08851b; }
