@import url(../../assets/fontello-45ad5e7a/css/fan.css);
/*#00aced*/
/*#3B5998*/
/*#3cba54*/
/*#db3236*/
a {
  text-decoration: none; }

.ActionCard {
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 600px; }
  .ActionCard h3 {
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  .ActionCard .action-description {
    font-size: 20px;
    margin: 20px 0;
    text-align: center; }
  .ActionCard textarea {
    width: 80%; }
  .ActionCard .bTextContainer {
    width: 80%;
    display: flex;
    position: relative; }
    .ActionCard .bTextContainer .body-text {
      font-size: 18px;
      height: 150px;
      padding: 10px;
      width: 100%;
      outline: none; }
    .ActionCard .bTextContainer .copySection {
      position: absolute;
      cursor: pointer;
      bottom: 5px;
      right: 5px; }
      .ActionCard .bTextContainer .copySection:hover .copy {
        visibility: initial; }
      .ActionCard .bTextContainer .copySection .copy {
        visibility: hidden;
        position: absolute;
        top: -30px;
        right: -30px;
        padding: 5px 10px;
        background: rgba(48, 208, 54, 0.8); }
      .ActionCard .bTextContainer .copySection img {
        width: 30px; }
  .ActionCard .button-holder {
    align-self: center;
    display: flex;
    margin-top: 20px; }
    .ActionCard .button-holder button {
      border: none;
      border-radius: 2px;
      color: white;
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      margin: 0 5px;
      padding: 20px; }
      .ActionCard .button-holder button:hover {
        cursor: pointer; }
      .ActionCard .button-holder button i {
        color: inherit;
        padding-left: 10px; }
        .ActionCard .button-holder button i:before {
          margin: 0; }

.twitter-card .button-holder button {
  background-color: #00aced; }

.facebook-card .button-holder button {
  background-color: #284E92; }

.email-card .button-holder button,
.email-card button {
  background-color: #db3236;
  border: none;
  border-radius: 2px;
  color: white; }

.email-card .email-template {
  align-self: flex-start;
  font-size: 18px;
  margin-bottom: 10px; }

.email-card .body-text {
  width: 100%; }

.email-card button {
  margin-bottom: 10px;
  padding: 10px 5px; }

.phone-card .button-holder button {
  background-color: #3cba54; }

.phone-card .phone-number {
  font-size: 22px; }

.phone-card .feedback-textarea {
  margin-top: 10px; }

@media screen and (max-width: 850px) {
  .ActionCard {
    width: 95%; } }
