.ActionContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; }
  .ActionContainer h1 {
    color: white;
    font-weight: normal;
    font-size: 36px; }
