.ActionContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; }
  .ActionContainer .no-actions {
    background-color: #FFFFFFe3;
    border-radius: 2px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    padding: 50px 25px; }

h1 {
  color: white;
  font-weight: normal;
  font-size: 36px;
  text-align: center; }
