.ActionContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .no-actions {
    background-color: #FFFFFFe3;
    border-radius: 2px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    max-width: 500px;
    padding: 25px;

    p {
      text-align: center;
      margin: 20px 0;

      .thl-twitter-link {
        color: #00aced;
        fontweight: bold;

        &:hover {
          color: #0fbfff;
        }
      }
    }
  }
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
}