.ForgotPassword {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  margin: 0px auto;
  grid-gap: 10px;

  h1 {
    grid-column: span 2;
    text-align: center;
    margin: 0px;
  }

  a {
    grid-column: span 2;
    text-align: center;
  }

  label {
    display: flex;
    align-items: center;
  }

  button {
    grid-column: span 2;
    height: 70px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: none;
    background: #1CB841;
    color: white;
    cursor: pointer;
    margin: 0px auto;
    transition: 0.3s;
    font-size: 20px;
    padding: 10px;
    &:hover {
      color: white;
      background-color: rgb(50, 50, 50);
    }
    &:disabled {
      background: rgb(152, 150, 150);
      color: black;
    }
  }

  input {
    height: 50px;
    font-size: 24px;
    padding-left: 10px;
    outline: none;
    grid-column: span 2;
  }

  span {
    grid-column: span 2;
    text-align: center;
    font-size: 16px;
    min-height: 16px;
  }

}