* {
  box-sizing: border-box;
  color: #333333;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

.App {
  min-height: 100vh;
  background: #D5D5D5;
  padding-top: 80px; }
  .App header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%; }
    .App header .App__logo {
      padding: 10px;
      width: 250px; }
    .App header nav {
      display: flex; }
      .App header nav p {
        color: white;
        margin: 0;
        padding: 20px 15px; }
      .App header nav .nav-btn {
        cursor: pointer;
        text-decoration: none; }
        .App header nav .nav-btn:hover {
          background-color: black; }
