.App {
  min-height: 100vh;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    .App__logo {
      width: 200px;
    }
    p {
      color: white;
    }
  }
}