* {
  box-sizing: border-box;
  color: #333333;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  /*background: #D5D5D5;*/
  background-image: url('../../assets/grass-bg.jpg');
  background-size: cover;
  // position: relative;
  padding-top: 60px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    .main-site {
      color: white;
      display: flex;
      align-items: center;
    }
    .App__logo {
      padding: 10px;
      height: 60px;
      width: 75px;      
    }

    nav {
      display: flex;

      p {
        color: white;
        margin: 0;
        padding: 20px 15px;
      }


      .nav-btn {
        cursor: pointer;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        text-decoration: none;

        &:hover {
          border-left: 2px solid white;
          border-right: 2px solid white;
        }
      
        &.active {
          background-color: rgba(255, 255, 255, 0.804);
          border-left: 2px solid gray;
          border-right: 2px solid gray;

          p {
            color: black;
          }
        }
      
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .App {
    padding-top: 120px;
    header {
      flex-direction: column;
      height: auto;
      nav {
        width: 100%;
        justify-content: center;
        p {
          align-self: center;
          text-align: center;
          padding: 0;
          width: 25%;
        }
        .nav-btn {
          display: flex;
          justify-content: center;
          padding: 10px 0;
          width: 25%;

          p {
            width: 100%;
          }
        }
      }
    }
  }
}