.App {
  min-height: 100vh; }
  .App header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6); }
    .App header .App__logo {
      width: 230px; }
    .App header p {
      color: white; }
