.Welcome {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  .fan-logo {
    // margin: 0 auto;
    // display: block;
    // transition: margin 1s ease;
    width: 100%;
  }
  .fan-logo.shifted {
    // margin-right: 0;
    // transition: margin 1s ease;
    align-self: flex-end;
  }
  .welcome-controls {
    color: #fff;
    font-size: 20pt;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 0px 80px;
    justify-items: center;
    button {
      height: 70px;
      display: flex;
      width: 250px;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      border: none;
      background: #1CB841;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      font-size: 20px;
      padding: 10px;
      &.primary {
        z-index: 5;
      }
      &.none {
        display: none;
      }
      &.hidden {
        position: absolute;
        width: 150px;
        margin-left: 90px;
        overflow: hidden;
      }
      &:hover {
        color: white;
        background-color: rgb(50, 50, 50);
      }
    }
  }
  .create-account-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    .create-account-user-input,
    .create-account-submit {
      border: none;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
      font-size: 20pt;
      margin: 20px;
      padding: 20px;
    }
    .create-account-submit {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      &:hover {
        background: #046A38;
      }
    }
  }
}

.Welcome.shifted {
  flex-direction: row;
}

.welcome-description {
  background-color: white;
  font-size: 20px;
  line-height: 1.5em;
  margin: 30px;
  padding: 20px;
}
