.Welcome .fan-logo {
  margin: 0 auto;
  display: block;
  transition: margin 1s ease; }

.Welcome .fan-logo.shifted {
  margin-right: 0;
  transition: margin 1s ease; }

.Welcome .welcome-controls {
  text-align: center;
  color: #fff;
  font-size: 20pt;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6); }
  .Welcome .welcome-controls span {
    margin: 0 10px; }
    .Welcome .welcome-controls span:hover {
      cursor: pointer; }
