.Welcome {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
  // padding: 20px 0;
  .fan-logo {
    position: relative;
    margin: 0 auto;
    display: block;
    transition: 1s;
  }
  .fan-logo.shifted {
    margin: 0;
    transition: 1s;
    left: 0;
  }
  .welcome-controls {
    text-align: center;
    // margin: 0 auto;
    color: #fff;
    font-size: 20pt;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    span {
      margin: 0 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
