.Welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  .fan-logo {
    // margin: 0 auto;
    // display: block;
    // transition: margin 1s ease;
  }
  .fan-logo.shifted {
    // margin-right: 0;
    // transition: margin 1s ease;
    align-self: flex-end;
  }
  .welcome-controls {
    color: #fff;
    font-size: 20pt;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    button {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: none;
      transition: 0.3s;
      &:hover {
        color: white;
        background-color: rgb(50, 50, 50);
        transform: rotate(-5deg);
      }
    }
  }
  .create-account-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    .create-account-user-input,
    .create-account-submit {
      border: none;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
      font-size: 20pt;
      margin: 20px;
      padding: 20px;
    }
    .create-account-submit {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      &:hover {
        background: #046A38;
      }
    }
  }
}

.Welcome.shifted {
  flex-direction: row;
}
