.Welcome {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 100%; }
  .Welcome a {
    height: 70px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: none;
    background: #ffffffe3;
    cursor: pointer;
    margin: 0px auto;
    transition: 0.3s;
    font-size: 20px;
    padding: 10px; }
    .Welcome a:hover {
      background: white; }
  .Welcome .fan-logo {
    width: 100%; }
  .Welcome .welcome-controls {
    color: #fff;
    font-size: 20pt;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 0px 80px;
    justify-items: center; }
    .Welcome .welcome-controls button {
      height: 70px;
      display: flex;
      width: 250px;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
      border: none;
      background: #ffffffe3;
      color: #000;
      cursor: pointer;
      transition: 0.3s;
      font-size: 20px;
      padding: 10px; }
      .Welcome .welcome-controls button.primary {
        z-index: 5; }
      .Welcome .welcome-controls button.none {
        display: none; }
      .Welcome .welcome-controls button.hidden {
        position: absolute;
        background: transparent;
        color: transparent;
        width: 150px;
        margin-left: 90px;
        overflow: hidden; }
      .Welcome .welcome-controls button:hover {
        background: #ffffff; }
  .Welcome .create-account-form {
    flex-direction: column;
    align-items: center;
    width: 500px; }
    .Welcome .create-account-form .create-account-user-input,
    .Welcome .create-account-form .create-account-submit {
      border: none;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
      font-size: 20pt;
      margin: 20px;
      padding: 20px; }
    .Welcome .create-account-form .create-account-submit {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.6);
      color: #fff; }
      .Welcome .create-account-form .create-account-submit:hover {
        background: #046A38; }

.welcome-description {
  font-size: 20px;
  line-height: 1.5em;
  margin: 30px;
  padding: 20px;
  background-color: #ffffffe3;
  border-radius: 2px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 1150px) {
  .Welcome {
    grid-template-columns: 90%;
    grid-template-rows: 50% 50%;
    padding-bottom: 50px; }
    .Welcome .fan-logo {
      margin: 0 auto;
      width: 400px; }
    .Welcome .welcome-controls {
      padding: 0; } }

@media screen and (max-width: 550px) {
  .Welcome .fan-logo {
    width: 90%; } }
