.create-action-form {
  width: 600px;
  margin: 10px; }
  .create-action-form form {
    display: flex;
    flex-direction: column;
    position: relative; }
    .create-action-form form .preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -95px;
      left: -60px;
      margin: 20px;
      padding: 40px 20px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6); }
      .create-action-form form .preview button.preview-btn {
        width: 94%;
        margin: 15px 0; }
      .create-action-form form .preview button.preview-btn.close {
        padding: 10px;
        height: auto;
        background: #666;
        color: #fff; }
        .create-action-form form .preview button.preview-btn.close:hover {
          color: #000;
          background: #aaa; }
    .create-action-form form input,
    .create-action-form form textarea,
    .create-action-form form button {
      border: 1px solid darkgray;
      font-size: 20px;
      padding: 10px;
      margin: 10px; }
    .create-action-form form .textarea {
      position: relative; }
      .create-action-form form .textarea textarea {
        height: 100px;
        width: -webkit-fill-available;
        width: -moz-available;
        width: stretch; }
      .create-action-form form .textarea .delete-textarea {
        position: absolute;
        right: 0;
        padding: 5;
        height: auto; }
    .create-action-form form button {
      background: #1CB841;
      color: #000;
      cursor: pointer;
      text-decoration: none;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s; }
      .create-action-form form button:hover {
        color: white;
        background: #009639; }
    .create-action-form form .add-text-area {
      font-size: 16pt;
      width: 200px;
      align-self: center; }
    .create-action-form form #toggle {
      border: 1px solid darkgray;
      background-color: #fff;
      text-align: left;
      align-self: center;
      display: inline-block;
      position: relative;
      margin: 10px;
      width: 200px; }
      .create-action-form form #toggle input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        z-index: 2;
        margin: 0;
        width: 100%;
        height: 100%; }
      .create-action-form form #toggle label {
        background-color: #333;
        color: #fff;
        cursor: pointer;
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        padding: 5px 10px;
        width: 100px;
        -webkit-transition: margin-left 0.2s ease-in-out;
        -moz-transition: margin-left 0.2s ease-in-out;
        transition: margin-left 0.2s ease-in-out; }
        .create-action-form form #toggle label:before {
          content: attr(data-off); }
      .create-action-form form #toggle input:checked + label:before {
        content: attr(data-on); }
      .create-action-form form #toggle input:checked + label {
        background: #1CB841;
        color: #000;
        margin-left: 100px; }
