// ACTION FORM
.create-action-form {
  width: 600px;
  margin: 10px;
  form {
    display: flex;
    flex-direction: column;
    position: relative;
    .preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -95px;
      left: -60px;
      margin: 20px;
      padding: 40px 20px;
      background-color: #ffffffe3;
      border-radius: 2px;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
      button.preview-btn {
        width: 94%;
        margin: 15px 0;
      }
      button.preview-btn.close {
        padding: 10px;
        height: auto;
        background: #666;
        color: #fff;
        &:hover {
          color: #000;
          background: #aaa;
        }
      }
    }
    input,
    textarea,
    button {
      border: 1px solid darkgray;
      font-size: 20px;
      padding: 10px;
      margin: 10px;
    }
    .textarea {
      position: relative;
      textarea {
        height: 100px;
        width: -webkit-fill-available;
        width: -moz-available;
        width: stretch;
      }
      .delete-textarea {
        position: absolute;
        right: 0;
        padding: 5;
        height: auto;
      }
    }
    button {
      background: #1CB841;
      color: #000;
      cursor: pointer;
      text-decoration: none;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      &:hover {
        color: white;
        background: #009639;
      }
    }
    .add-text-area {
      font-size: 16pt;
      width: 200px;
      align-self: center;
    }
    #toggle {
      border: 1px solid darkgray;
      background-color: #fff;
      text-align: left;
      align-self: center;
      display: inline-block;
      position: relative;
      
      margin: 10px;
      width: 200px;
      input {
        cursor: pointer;
        opacity: 0;

        position: absolute;
        z-index: 2;
        
        margin: 0;
        width: 100%;
        height: 100%;
      }
      label {
        background-color: #333;
        color: #fff;
        cursor: pointer;
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        
        display: inline-block;

        padding: 5px 10px;
        width: 100px;

        -webkit-transition: margin-left 0.2s ease-in-out;
        -moz-transition: margin-left 0.2s ease-in-out;
        transition: margin-left 0.2s ease-in-out;
        &:before {
          content: attr(data-off);
        }
      }
      input:checked + label:before {
        content: attr(data-on);
      }

      input:checked + label {
        background: #1CB841;
        color: #000;
        margin-left: 100px;
      }
    }
  }
}