.create-new-action-container {
  display: flex;
  flex-direction: column;
  h1 {
    color: #fff;
    font-size: 24pt;
    text-align: center;
    margin: 20px;
    span {
      font-size: 28pt;
      margin: 0 5px;
    }
  }
  .select-action-container {
    background-color: #ffffffe3;
    border-radius: 2px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    margin: 20px;
    label {
      display: block;
      font-size: 20px;
      width: 328px;
      margin: 0 auto;
    }
    select,
    option {
      cursor: pointer;
      font-size: 20px;
      height: 40px;
      padding: 5px;
      margin: 20px;
    }
  }
}